html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: blanchedalmond;
  margin: auto;
  width: 500px;
}

.main-img {
  width: 300px;
  height: auto;
  display: block;
  margin: auto;
}

.img-banner {
  width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

.img-banner img{
  width: 30%;
  height: auto;
  display: inline;
}

h1 {
  display: block;
  text-align: center;
}

h2 {
  text-align: center;
  display: inline;
}

.home-link {
  display: block;
  float: right;
}